body {
    font-family: Helvetica, sans-serif;
    background: white;
    margin: 20px;
    }


    header{
        text-align: center;
    }
    
   header ul {
        padding: 10px 0 10px 0;
        margin-top: 0px;

    }
   header ul li {
        display: inline;
        margin: 50px;
        text-decoration: none;
        font-weight: light;
        font-size: 15px;
        padding: 50px;
    }

    .titulo h1 {
        margin: 0;
        font-size: 40px;
        line-height: 1;
        text-align: left;
        padding-left: 1200px;
    }

    .titulo p {
        margin: 0;
        font-size: 20px;
        line-height: 1;
        text-align: left;
        padding-left: 1200px;
    }
    


.education {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px black;
}

.education-container {
    display: flex;
}

.education-element {
    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
}

.borde {
    padding-left: 25px;
    border-left: 3px solid black;
}

.borde2 {
    height: 3px;
    background-color: black;
    margin: 50px;
    width: 98%;
    border-radius: 3px;
}
.menu {
    position: relative;
    border: 1px black;
    border-radius: 15px;
}

.menu div {
    position: relative;
    width: 90%;
    height: 8px;
    border-radius: 10px;
    background-color: black;
}

.barra {
    width: 650px;
    height: 10px;
    background-color: lightgray;
    position: relative;
    overflow: hidden;
}

.progreso {
    height: 650%;
    background-color: black;
}

.completo { width: 100%; }
.mejor { width: 75%; }
.mitad { width: 50%; }
.poquito { width: 10%;}

p input {
    background: #1cb242;
    color: white;
    border-radius: 15px;
    width: 400px;
    height: 40px;
    border: 300px;
    font-size: 17px;
}

input {
    width: 400px;
    height: 35px;
}

article {
margin-left: 70px;
text-align: center;
}

footer {
    background-color: rgb(54, 54, 54);
    padding: 5px;
        font-weight: lighter;
    font-size: 15px;
    margin-bottom: opx;
    text-align: center;
    margin-left: 70px;
    }
    
    footer p {
        color: white;
        text-align: center;
    }
    